*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
nav{
    width:100%;
    max-width: 1600px;
    color:#FFFFFF;
    align-items: center;
    display:flex; 
    padding:16px 120px;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
}
.logo{
     max-width: 139px;
     margin-right: auto;

}
nav .menu {
    display:flex;
    list-style-type: none;
    align-items: center;
    gap:24px;
    margin:0 auto;
    padding:34px auto;
    text-align: center;
    justify-items: center;
    justify-content: space-between;

}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration:none;
    line-height: 152%;
    gap:32px;
    justify-content: space-between;
}
.btn{
     background-color: #469165;
     border-radius: 4px;
     border: none;
     font-size: 16px;
     font-weight: 600;
     color: #FFFFFF;
     cursor: pointer;
     align-items: center;
     margin:0 auto;
    padding:12px 16px;
    margin-left:120px;
}